<a href="https://colab.research.google.com/github/syiraaj/python-data-science-for-beginners/blob/main/Data_Science_for_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Setup Google Colab**

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Basic Python Concepts**

**First Code**

In [2]:
print('Hello World!')

Hello World!

**Data Types**

In [3]:
#Check Data Type
x = 10
y = 10.1
z = 'Country'

print (type (x))
print (type (y))
print (type (z))

<class 'int'>
<class 'float'>
<class 'str'>

**Python Comment**

In [4]:
x = 1 #this is a Python comment 
x= x + 5
print(x)

6

**Decimal Place**

In [5]:
#width = float (input ("Enter Width: "))
#height = float (input ("Enter Height: "))

width = 10.54
height = 20.2145

area = width * height

# area = round (area,2) # <<< this code is to round off to the decimal place

print ("Area of the rectangle is ", area)

Area of the rectangle is  213.06082999999998

**.format() Method**

In [6]:
#width = float (input ("Enter Width: "))
#height = float (input ("Enter Height: "))

width = 10.54
height = 20.2145

area = width * height

# area = round (area,2) # <<< this code is to round off to the decimal place

print ("Area of the rectangle {} x {} is {} per square meter ".format(width, height, area))

Area of the rectangle 10.54 x 20.2145 is 213.06082999999998 per square meter

**Relational Operator**

In [7]:
x = 10
y = 11

x > y

False

**Logical Operator**

In [8]:
# Input
x = 10
y = 11
z = 12

z > y and y > x

True

**Selection**

In [9]:
print("Pilih Bentuk")
print("A. Segiempat")
print("B. Segitiga")
print("C. Bulat")

bentuk = str(input("Pilih bentuk: "))

if bentuk == 'A':
    print("Pilihan bentuk adalah Segiempat")
    lebar = float (input ("Masukkan Lebar: "))
    tinggi = float (input ("Masukkan Tinggi: "))
    luas = lebar * tinggi
    print ("Luas {} adalah {} ".format(bentuk, luas))
           
elif bentuk == 'B':
    print("Pilihan bentuk adalah Segitiga")
    tapak = float (input ("Masukkan Tapak: "))
    tinggi = float (input ("Masukkan Tinggi: "))
    luas = (1/2) * tapak * tinggi
    print ("Luas {} adalah {} ".format(bentuk, luas))
           
elif bentuk == 'C':
    print("Pilihan bentuk adalah Bulat")
    radius = float (input ("Masukkan Radius: "))
    luas = 3.1415 * radius * radius
    print ("Luas {} adalah {} ".format(bentuk, luas))

Pilih Bentuk
A. Segiempat
B. Segitiga
C. Bulat

KeyboardInterrupt: ignored

**Loop**

In [ ]:
print("Pilih Bentuk")
print("A. Segiempat")
print("B. Segitiga")
print("C. Bulat")

bentuk = str(input("Pilih bentuk: "))

while bentuk != 'A' and bentuk != 'B' and bentuk != 'C':
    print ("Pilihan tidak ada dalam senarai. Sila masukkan A, B atau C.")
    bentuk = str(input("Pilih bentuk: "))

if bentuk == 'A':
    print("Pilihan bentuk adalah Segiempat")
    lebar = float (input ("Masukkan Lebar: "))
    tinggi = float (input ("Masukkan Tinggi: "))
    luas = lebar * tinggi
    print ("Luas {} adalah {} ".format(bentuk, luas))
           
elif bentuk == 'B':
    print("Pilihan bentuk adalah Segitiga")
    tapak = float (input ("Masukkan Tapak: "))
    tinggi = float (input ("Masukkan Tinggi: "))
    luas = (1/2) * tapak * tinggi
    print ("Luas {} adalah {} ".format(bentuk, luas))
           
elif bentuk == 'C':
    print("Pilihan bentuk adalah Bulat")
    radius = float (input ("Masukkan Radius: "))
    luas = 3.1415 * radius * radius
    print ("Luas {} adalah {} ".format(bentuk, luas))

**Loop (Array)**

In [ ]:
cars = ["Ford","Volvo","BMW"]
for x in cars:
  print(x)

**Function**

In [ ]:
def celsius_to_fahrenheit(celsius): 
	fahrenheit = celsius * 1.8 + 32.0 
	return fahrenheit 

celsius = int(input("Please state temperature (Celcius): "))
result = celsius_to_fahrenheit(celsius)
print("The temperature {} Celcius is {} Fahrenheit".format(celsius, result))

**Classes**

In [ ]:
class Greeter(object): 
	# Constructor 
	def __init__(self, name): 
		self.name = name # Create an instance variable # Instance method 
	def greet(self, loud=False): 
		if loud: 
			print('HELLO, %s!' % self.name.upper()) 
		else: 
			print('Hello, %s' % self.name) 
g = Greeter('Fred') # Construct an instance of the Greeter class 
g.greet() # Call an instance method; prints "Hello, Fred" 
g.greet(loud=True) # Call an instance method; prints "HELLO, FRED!"

**List (Ordered)**

In [ ]:
xs = [3, 1, 2] # Create a list 
print(xs, xs[2])

# xs[2] = 'foo' # Lists can contain elements of different types 
# print(xs)

# xs.append('bar') # Add a new element to the end of the list 
# print(xs)

# xs.insert(0,2) # tambah elemen kpd indeks (indeks, element)
# print(xs)

# x = xs.pop() # Remove and return the last element of the list 
# print(x, xs)

**Tuple (Unordered)**

In [ ]:
d = {(x, x + 1): x for x in range(10)} # Create a dictionary with tuple keys 
t = (5, 6) # Create a tuple 

print(type(t))

print(d[t]) 

# print(d[(1, 2)])

**Sets (Unordered)**

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals) # Check if an element is in a set; 

# print('fish' in animals)

# animals.add('fish') # Add an element to a set 
# print('fish' in animals)
# print(len(animals)) # Number of elements in a set;

# animals.add('cat') # Adding an element that is already in the set does nothing 
# print(len(animals)) 

# animals.remove('cat') # Remove an element from a set 
# print(len(animals))

**Dictionary**

In [ ]:
d = {'cat': 'cute','dog': 'furry'} # Create a new dictionary with some data 

print(d['cat']) # Get an entry from a dictionary;

# print('cat' in d) # Check if a dictionary has a given key; 

# d['fish'] = 'wet' # Set an entry in a dictionary 

# print(d['fish'])

# print(d['monkey']) # KeyError: 'monkey' not a key of d 

# print(d.get('monkey', 'N/A')) # Get an element with a default;

# print(d.get('fish', 'N/A')) # Get an element with a default;

# del d['fish'] # Remove an element from a dictionary 

# print(d.get('fish', 'N/A'))

**NumPy (2D Array)**

In [ ]:
import numpy as np 
a2 = np.array([[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]])
print(a2[2, 1])

# print(a2[:, 1])

In [ ]:
import numpy as np 
a2 = np.array([[10, 11, 12, 13, 14],       
               [15, 16, 17, 18, 19],    
               [20, 21, 22, 23, 24], 
               [25, 26, 27, 28, 29]]) 
print(a2[1:,2:4])

**NumPy (3D Array)**

In [ ]:
import numpy as np 
a3 = np.array([[[10, 11, 12],[13, 14, 15], [16, 17, 18]],
               [[20, 21, 22], [23, 24, 25], [26, 27, 28]],
               [[30, 31, 32], [33, 34, 35], [36, 37, 38]]])
print(a3[2, 0, 1])

# print(a3[0, :, 1])

**SciPy (Euclidian Distance)**

In [ ]:
import numpy as np 
import pandas as pd
from scipy.spatial.distance import pdist, squareform 

x = np.array([[0, 1], [1, 0], [2, 0]]) 
print(x) 

# Compute the Euclidean distance between all rows of x. 
# d[i, j] is the Euclidean distance between x[i, :] and x[j, :], 
d = squareform(pdist(x, 'euclidean')) 
print(d)

**Pandas DataFrame**

In [ ]:
#Import Packages
import pandas as pd

#Creating List
list_1 = [1,7,8,10,11]

#Create DataFrame from list_1
df_1 = pd.DataFrame(list_1)
df_1

In [ ]:
#Naming the columns
df_1 = pd.DataFrame(list_1,columns = ['Data 1'])
df_1

In [ ]:
#Create DataFrame from multiple list
list_1 = [1,7,8,10,11]
list_2 = [2,5,6,8,20]
list_3 = [21,26,30,78,100]

#Create DataFrame from list_1
df = pd.DataFrame ({'Data 1':list_1,'Data 2':list_2,'Data 3':list_3})
df

In [ ]:
#Extracting one column from the DataFrame
df['Data 2']

In [ ]:
#Adding another column in the DataFrame

#Performing computation in Pandas DataFrame
x = df['Data 2'] + df['Data 3']
df['Data 4'] = x
df

In [ ]:
#Import data from Excel file into Pandas DataFrame
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Training/car_sold.xlsx')

#Viewing imported DataFrame
df

**MatPlotLib (Line Chart)**

In [ ]:
#Create data points
x = [1,2,3,4,5,6,7,8,9,10]
y = [21,22,23,24,25,26,27,28,29,30]

#Plot Line Chart
plt.plot(x,y)

#Add title & axis label
plt.title('Result')
plt.xlabel('x-axis')
plt.ylabel('y-axis')

#Show the figure
plt.show()

**MatPlotLib (Scatter Plot)**

In [ ]:
#Create data points
x = [1,2,3,4]
y = [10,15,27,70]

#Plot scatter point
plt.scatter(x,y)

#Add title & axis label
plt.title('Result')
plt.xlabel('x-axis')
plt.ylabel('y-axis')

#Show figure
plt.show()

**MatPlotLib (Pie Chart)**

In [ ]:
#Import packages
import matplotlib.pyplot as plt

#Data Points
internet_browsers = ['Safari','Edge','Chrome','Firefox','IE','Opera']
market_share = [61.64,11.98,11.02,4.23,3.79,7.34]

#Plot the bar chart
plt.pie(market_share,labels = internet_browsers,autopct='%.2f%%')

#Add title & axis label
plt.title('Internet Browsers Marketshare')

#Show result
plt.show()

In [ ]:
#Exploding the slices

#Import packages
import matplotlib.pyplot as plt

#Data Points
internet_browsers = ['Safari','Edge','Chrome','Firefox','IE','Opera']
market_share = [61.64,11.98,11.02,4.23,3.79,7.34]
explode = (0,0.5,0,0,0.8,0.7)

#Plot the bar chart
plt.pie(market_share,labels = internet_browsers,autopct='%.1f%%',explode=explode) #Apply explodes

#Add title & axis label
plt.title('Internet Browsers Marketshare')

#Show result
plt.show()

In [ ]:
#Displaying a Legends

#Import packages
import matplotlib.pyplot as plt

#Data Points
internet_browsers = ['Safari','Edge','Chrome','Firefox','IE','Opera']
market_share = [61.64,11.98,11.02,4.23,3.79,7.34]
explode = (0,0.5,0,0,0.8,0.7)

#Plot the bar chart
plt.pie(market_share,labels = internet_browsers,autopct='%.1f%%',explode=explode)

#Add title & axis label
plt.title('Internet Browsers Marketshare')

#Apply legend
plt.legend(internet_browsers,loc='best')

#Show result
plt.show()

**MatPlotLib (Bar Chart)**

In [ ]:
#Import packages
import matplotlib.pyplot as plt

#Data Points
rainfall = [12,9,16,3,21,7,8,4,6,21,4,1]
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

#Plot the bar chart
plt.bar(months,rainfall,align='center',color ='blue')

#Add title & axis label
plt.title('Rainfall Precipitation')
plt.xlabel('Months')
plt.ylabel('Rainfall')

#Show result
plt.show()

**MatPlotLib (Single Plot)**

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt 

# Compute the x and y coordinates for points on a sine curve 
x = np.arange(0, 3 * np.pi, 0.1) 
y = np.sin(x) 

# Plot the points using matplotlib 
plt.plot(x, y) 
plt.show() # You must call plt.show() to make graphics appear.

**MatPlotLib (Multiple Plot)**

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt

# Compute the x and y coordinates for points on sine and cosine curves 
x = np.arange(0, 3 * np.pi, 0.1) 
y_sin = np.sin(x) 
y_cos = np.cos(x) 

# Plot the points using matplotlib 
plt.plot(x, y_sin) 
plt.plot(x, y_cos) 
plt.xlabel('x axis label') 
plt.ylabel('y axis label') 
plt.title('Sine and Cosine') 
plt.legend(['Sine', 'Cosine']) 
plt.show()

**MatPlotLib (Image)**

In [ ]:
import numpy as np 
from PIL import Image, ImageEnhance

img = Image.open('/content/drive/MyDrive/Training/cat.png') 
contrast_filter = ImageEnhance.Contrast(img)
img_contrast = contrast_filter.enhance(4)

plt.subplot(1, 2, 1) 
plt.imshow(img) 
plt.subplot(1, 2, 2)

plt.imshow(np.uint8(img_contrast)) 
plt.show()

# **Data Collection and Data Preprocessing**

**Import Dataset (Current Company)**

In [ ]:
import pandas as pd
import numpy as np

# Import Dataset
data = pd.read_csv('/content/drive/MyDrive/Training/data/tx-death-penalty/extracted/texas-death-row.csv')

# Read Dataset
data.head()

**Import Dataset (Survey)**

In [ ]:
import pandas as pd
import numpy as np

# Import Dataset
data = pd.read_csv('/content/drive/MyDrive/Training/tahfiz_survey.csv')

# Read Dataset
data.head()

**Import Dataset (Social Media)**

In [ ]:
import pandas as pd
import numpy as np

# Import Dataset
data = pd.read_csv('/content/drive/MyDrive/Training/cuaca_malaysia_2018.csv')

# Read Dataset
data.head()

**Randomly Generated Dataset**

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.uniform(low=0, high=5, size=(500, 5)),columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5'])

df1

In [ ]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(500)),columns=['Outcome'])

df2

In [ ]:
df1['OUTCOME'] = df2['Outcome'].values # Wrangle column

df1

**Cleansing**

In [ ]:
import pandas as pd
import numpy as np

# Import Dataset
data = pd.read_csv('/content/drive/MyDrive/Training/wrangle.csv')

# Read Dataset
data.head()

In [ ]:
# Statistical summary
data.describe(include='all') # It cannot be properly described or analyzed as there are errors in the dataset

In [ ]:
data.drop(data[data['price'] < 0].index, inplace = True) # delete rows with negative price

data

In [ ]:
# replacing NaN values in sold with NO
data["sold"].fillna("NO", inplace = True)

data

In [ ]:
# replacing price (quantitative) NaN value with average price

#calculate average price
data["price"].mean()

In [ ]:
# replacing NaN values in price with average
data["price"].fillna("1.67", inplace = True)
data["price"] = data["price"].astype(float) # change the price from string to float

data

In [ ]:
# replacing NaN values in sold with NO
data["type"].fillna("Drink", inplace = True)

data

**Validation (Distribution)**

In [ ]:
#Import libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Visualize the price distribution
sns.distplot(data['price'], bins=5)

**Validation (Outliers)**

In [ ]:
#Box Plot Visualization of price
sns.boxplot(data['price'])

# assigned parameters orient = 'v' if want to visualize in vertical view

**Validation (Skewness)**

In [ ]:
#Check skewness of each column
from scipy.stats import skew

skew(data['price']) # good skewness is between -0.5 and 0.5

**Validation (Statistically)**

In [ ]:
# Statistical summary
data.describe(include='all')

**Save Preprocessed Data**

In [ ]:
# Save data in csv form
data.to_csv('cleansed_data.csv', index=False)

In [ ]:
# Read saved data
df = pd.read_csv('/content/cleansed_data.csv')
df

# **Exploratory Data Analysis**

**Display Dataset**

In [ ]:
import numpy as np
import pandas as pd

# Import example data
data = pd.read_csv('/content/drive/MyDrive/Training/car_price_clean.csv')

# Display dataset
data.head(5)

**Check Missing Values**

In [ ]:
# Check Missing Value
data.isnull().sum()

**Display Specific Column**

In [ ]:
# Calling a column (Example: ‘Price’ Column)
data['Price'].head(10)

**Check Dataset Size**

In [ ]:
# Size of the dataset
size = data.shape
print ('The size of the data is ', size)

**Visualize Distribution**

In [ ]:
# Visualize the Price distribution
sns.distplot(data['Price'], bins=20)

**Visualize Outlier**

In [ ]:
#Box Plot Visualization
sns.boxplot(data['Price'])

**Describe Dataset Statistically**

In [ ]:
# Statistical Summary
data.describe(include='all')

**Count Unique Value**

In [ ]:
# Count Unique value of FuelType
print("There are", data['FuelType'].nunique(), "types of Fuel") #Number of unique value
print("--------------------------")
data['FuelType'].value_counts() #Count for each unique value

**Check Correlation**

In [ ]:
# Select numerical attributes
data_numerical = data[['Price','Age','KM','HP','CC']]

# Correlation 
data_numerical.corr()

**Display Correlation Heatmap**

In [ ]:
# Heatmap Correlation
plt.figure(figsize=(8,8))
sns.heatmap(data_numerical.corr(), annot=True, cmap='coolwarm')
#Annot is to add the annotation from correlation matrix
#cmap - color map

**Visualize Relationship**

In [ ]:
# Visualize Relationship Example between Price vs Age
plt.scatter(data_numerical.Age, data_numerical.Price)
plt.xlabel('Age',size=18)
plt.ylabel('Price',size=18)